@import "Cascade-Style-Spacing";
@import "Cascade-Style-Font";
@import "Cascade-Style-Colors";

.menu {
    height: 7vh;
    position: absolute;
    right: 10vw;
    width: 60vw;
    z-index: 999;

    .container-fluid {
        min-width: 590px;
    }
    //generic phone
    @media screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: portrait) {
        top: 10vh;
    }

    @media screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: landscape) {
        top: 10vh;
    }
    //generic tablet
    @media screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation: portrait) {
        top: 10vh;
    }

    @media screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation: landscape) {
        top: 20vh;
    }

    //generic larger than tablet
    @media screen and (min-device-width: 1281px) {
        top: 18vh;
    }
}

.navbar {
    background: transparent;
    border: none;
}

.navbar-default .navbar-nav {
    a {
        color: $dark-blue !important;
    }
}

.fixed {
    position: fixed;
    top: 0;

    a {
        background-color: white;
    }
}

.opacity-1 {
    opacity: 1;
}
