.logo-container {
    position: absolute;
    z-index: 999;

    //generic phone
    @media screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: portrait) {
        left: 10vw;
        top: 7vh;
    }

    @media screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: landscape) {
        left: 10vw;
        top: 3vh;
    }
    //generic tablet
    @media screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation: portrait) {
        left: 10vw;
        top: 7vh;
    }

    @media screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation: landscape) {
        left: 10vw;
        top: 13vh;
    }
    //generic larger than tablet
    @media screen and (min-device-width: 1281px) {
        left: 10vw;
        top: 5vh;
    }
}

.logo-holder {
}

#site-logo {
}
