@font-face {
	font-family: 'Cinzel-Regular';
	src: url('../fonts/Cinzel/Cinzel-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Cinzel-Bold';
	src: url('../fonts/Cinzel/Cinzel-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Cinzel-Black';
	src: url('../fonts/Cinzel/Cinzel-Black.ttf') format('truetype');
}

@font-face {
	font-family: 'Raleway-Black';
	src: url('../fonts/Raleway/Raleway-Black.ttf') format('truetype');
}

@font-face {
	font-family: 'Raleway-Bold';
	src: url('../fonts/Raleway/Raleway-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Raleway-Regular';
	src: url('../fonts/Raleway/Raleway-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Raleway-Medium';
	src: url('../fonts/Raleway/Raleway-Medium.ttf') format('truetype');
}

.font-cinzel {
	font-family: Cinzel-Regular;
}

.font-cinzel-bold {
	font-family: Cinzel-Bold;
}

.font-cinzel-black {
	font-family: Cinzel-Black
}

.font-raleway {
	font-family: Raleway-Regular;
}

.font-raleway-bold {
	font-family: Raleway-Bold;
}

.font-raleway-black {
	font-family: Raleway-Black;
}

.font-raleway-medium {
	font-family: Raleway-Medium;
}

body {
    font-size: 16px;
}

p {
    font-size: 120%;
}

.font-size-80 {
    font-size: 80%;
}

.font-size-90 {
    font-size: 90%;
}

.font-size-100 {
    font-size: 100%;
}

.font-size-110 {
    font-size: 110%;
}

.font-size-120 {
    font-size: 120%;
}

.font-size-130 {
    font-size: 130%;
}

.font-size-140 {
    font-size: 140%;
}

.font-size-150 {
    font-size: 150%;
}

.font-size-160 {
    font-size: 160%;
}

.font-size-170 {
    font-size: 170%;
}

.font-size-180 {
    font-size: 180%;
}

.font-size-190 {
    font-size: 190%;
}

.font-size-200 {
    font-size: 200%;
}

.font-size-210 {
    font-size: 210%;
}

.font-size-220 {
    font-size: 220%;
}

.font-size-230 {
    font-size: 230%;
}

.font-size-240 {
    font-size: 240%;
}

.font-size-250 {
    font-size: 250%;
}

.font-bold {
    font-weight: bold !important;
}