$medicine: '../Contents/01_Services/Services/PNG/service1.png';
$medicineExp: '../Contents/01_Services/Expanded Sections/PNG/expanded1.png';
$sync: '../Contents/01_Services/Services/PNG/service2.png';
$syncExp: '../Contents/01_Services/Expanded Sections/PNG/expanded2.png';
$comp: '../Contents/01_Services/Services/PNG/service3.png';
$compExp: '../Contents/01_Services/Expanded Sections/PNG/expanded3.png';
$delivery: '../Contents/01_Services/Services/PNG/service4.png';
$deliveryExp: '../Contents/01_Services/Expanded Sections/PNG/expanded4.png';

$green: #92C83D;
$sky-blue: #DEE7FF;
$blue: #4A4AB0;
$dark-blue: #22215f;
$grey: #565562;