/*MARGIN BOTTOM*/

.margin-bottom-15 {
    margin-bottom: 15vh; 
}

.margin-bottom-10 {
    margin-bottom: 10vh;
}

.margin-bottom-5 {
    margin-bottom: 5vh;
}

.margin-bottom-2 {
    margin-bottom: 2vh;
}

.margin-bottom-1 {
    margin-bottom: 1vh;
}

.margin-bottom-0 {
    margin-bottom: 0vh;
}


/*MARGIN TOP*/
.margin-top-50 {
    margin-top: 50vh;
}

.margin-top-15 {
    margin-top: 15vh; 
}

.margin-top-10 {
    margin-top: 10vh;
}

.margin-top-5 {
    margin-top: 5vh;
}

.margin-top-2 {
    margin-top: 2vh;
}

.margin-top-1 {
    margin-top: 1vh;
}

.margin-top-0 {
    margin-top: 0vh;
}


/*MARGIN LEFT*/

.margin-left-15 {
    margin-left: 15vw; 
}

.margin-left-10 {
    margin-left: 10vw;
}

.margin-left-5 {
    margin-left: 5vw;
}

.margin-left-3 {
    margin-left: 3vw;
}

.margin-left-2 {
    margin-left: 2vw;
}

.margin-left-1 {
    margin-left: 1vw;
}

.margin-left-0 {
    margin-left: 0vw;
}


/*MARGIN RIGHT*/

.margin-right-15 {
    margin-right: 15vw; 
}

.margin-right-10 {
    margin-right: 10vw;
}

.margin-right-5 {
    margin-right: 5vw;
}

.margin-right-3 {
    margin-right: 3vw;
}

.margin-right-2 {
    margin-right: 2vw;
}

.margin-right-1 {
    margin-right: 1vw;
}

.margin-right-0 {
    margin-right: 0vw;
}


/*MARGIN LEFT-RIGHT*/

.margin-left-right-15 {
    margin-left: 15vw;
    margin-right: 15vw;
}

.margin-left-right-10 {
    margin-left: 10vw;
    margin-right: 10vw;
}

.margin-left-right-5 {
    margin-left: 5vw;
    margin-right: 5vw;
}

.margin-left-right-2 {
    margin-left: 2vw;
    margin-right: 2vw;
}

.margin-left-right-1 {
    margin-left: 1vw;
    margin-right: 1vw;
}

.margin-left-right-0 {
    margin-right: 0vw;
    margin-left: 0vw;
}


/*MARGIN TOP-BOTTOM*/

.margin-top-bottom-15 {
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.margin-top-bottom-10 {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.margin-top-bottom-5 {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.margin-top-bottom-2 {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.margin-top-bottom-1 {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.margin-top-bottom-0 {
    margin-bottom: 0vh;
    margin-top: 0vh;
}

.divider-line {
    height: 1vh !important;
}

.no-padding {
    padding: 0 0 0 0;
}

.full-width {
    width: 100vw;
}

.no-margin {
    margin: 0 0 0 0;
}

.line-height-75 {
    line-height: 75%;
}

.line-height-90 {
    line-height: 90%;
}

.line-height-100 {
    line-height: 100%;
}

.line-height-150 {
    line-height: 150%;
}

.line-height-200 {
    line-height: 200%;
}

.center-icons {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}