@import "Cascade-Style-Spacing";
@import "Cascade-Style-Font";
@import "Cascade-Style-Colors";

.menu {
    height: 7vh;
    position: absolute;
    right: 10vw;
    width: 60vw;
    z-index: 999;

    .container-fluid {
        min-width: 590px;
    }
    //generic phone
    @media screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: portrait) {
        top: 10vh;
    }

    @media screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: landscape) {
        top: 10vh;
    }
    //generic tablet
    @media screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation: portrait) {
        top: 10vh;
    }

    @media screen and (min-device-width: 768px) and (max-device-width: 1280px) and (orientation: landscape) {
        top: 20vh;
    }
    //generic larger than tablet
    @media screen and (min-device-width: 1281px) {
        top: 18vh;
    }
}

.navbar {
    background: transparent;
    border: none;
}

.navbar-default .navbar-nav {
    a {
        color: $dark-blue !important;
    }
}

.fixed {
    position: fixed;
    top: 0;

    /*a {
        background-color: white;
    }

    a:active {
        background-color: white;
    }

    a:hover {
        background-color: $sky-blue;
    }*/
}

.opacity-1 {
    opacity: 1;
}

.header, .blurheader {
    background: rgba(255,255,255,.6);
    height: 7vh;
    position: fixed;
    width: 55vw;
    right: 10vw;
    top: 0;
    z-index: 998;
}

.header {
    display: none;
}

.blurheader {
    background: transparent;
    overflow: hidden;
    z-index: 997;
}

#canvas {
    opacity: 1;
    z-index: 100;
    position: absolute;
    display: block;
    top: 3px;
}